<!--IEnumerable is the parent to all collections and arrays, I therefore can pass any linear collection or array down to this view-->
@model IEnumerable<Movie>

    <!--Razor is C# syntax useable in a view, it is used to style and arrange our view and it is used to print data out to our view-->
    @foreach(Movie m in Model){
        <div>
            <p>Id: @m.Id</p>
            <p>Title: @m.Title</p>
            <p>Genre: @m.Genre</p>
            <p>Run Time: @m.Runtime</p>
            <a asp-action="Update" asp-controller="Home" asp-route-Id="@m.Id"><p>Update @m.Title</p></a>
            <a asp-action="Delete" asp-controller="Home" asp-route-Id="@m.Id"><p>Delete this Entry</p></a>
        </div>
        <br/>
    }

    <a asp-action="AddMovie" asp-controller="Home"><p>Add Movie</p></a>